.link{
    font-size: 20px;
    color: black;
    transition: color 0.3s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    
}
.link:hover{
    color: green;
}
.title{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}