*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'TheBattle';
    src: url('TheBattleCont.ttf') format('truetype');
}
body{
    background-color: black;
    display: flex;
}

.preview{
    background-color: rgb(255, 0, 0);
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    z-index: -20;
    margin: 30px;
    position: relative;
    display: flex;
    justify-content: center;
}



.entry-1-preview{
    color: white;
    font-family: "p22-flw-midway-one", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    width: 700px;
    margin-left: 100px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.entry-2-preview{
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    font-size: 200px;
    top: 75px;
    left: 100px;
    width: 700px;
    line-height: 70%;
    color: rgb(248, 41, 0); 
    position: absolute;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.entry-3-preview{
    font-family: "oddity-script", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 150px;
    top: 250px;
    left: 250px;
    color: rgb(255, 238, 0);
    position: absolute;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.entry-4-preview{
    font-family: TheBattle;
    font-size: 300px;
    text-transform: uppercase;
    top: 150px;
    left: 100px;
    width: 700px;
    color: rgb(255, 68, 0);
    position: absolute;
    line-height: 70%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.entry-5-preview{
    background-image: url('entry-5-title.png');
    background-size: cover;
    height: 160px;
    width: 750px;
    top: 250px;
    left: 100px;
    color: #ffb406;
    position: absolute; 
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.entry-6-preview{
    font-family: roc-grotesk, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    top: 100px;
    left: 100px;
    width: 600px;
    line-height: 80%;
    color: rgb(255, 0, 191);
    animation-name: font-change;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}


body:has(#index-items-1:hover) .entry-1-preview, body:has(#index-items-2:hover) .entry-2-preview, body:has(#index-items-3:hover) .entry-3-preview, body:has(#index-items-4:hover) .entry-4-preview, body:has(#index-items-5:hover) .entry-5-preview, body:has(#index-items-6:hover) .entry-6-preview{
    opacity: 1;
}

a{
    text-decoration: none;
    color:black;
}

.circles{
    width: 60%;
    height: 100vh;
    margin-top: 60px;
    margin-left: 60px;
    z-index: 2;
}

body:has(#index-items-1:hover) .one, body:has(#index-items-2:hover) .two, body:has(#index-items-3:hover) .three, body:has(#index-items-4:hover) .four, body:has(#index-items-5:hover) .five, body:has(#index-items-6:hover) .six{
    transform: scale(120%);
}

.reason-circle{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 100%;
    animation-name: glow, colors;
    animation-duration: 5s, 10s;
    animation-iteration-count: infinite;
    transition: all 1s ease-in-out;
    margin-bottom: 40px;
    animation-timing-function: linear;
}
.reason-circle:hover{
    transform: scale(50%);
}
.one{
}
.two{
    animation-delay: 0s, 1s;
    margin-left: 20%;
}
.three{
    animation-delay: 0s, 2s;
    margin-left: 40%;
}
.four{
    animation-delay: 0s, 3s;
    margin-left: 60%;
}
.five{
    animation-delay: 0s, 4s;
    margin-left: 80%;
}
.six{
    animation-delay: 0s, 5s;
    margin-left: 100%;
}


.reason-text{
    color: white;
    position: fixed;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
.text-one{
    font-family: "p22-flw-midway-one", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    top: 70px;
    left: 20%;
}
.text-two{
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    font-size: 50px;
    top: 150px;
    left: 32%;
    width: 200px;
    line-height: 70%;
    color: rgb(248, 41, 0); 
}
.text-three{
    font-family: "oddity-script", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
    top: 280px;
    left: 45%;
    color: rgb(255, 238, 0);
}
.text-four{
    font-family: TheBattle;
    font-size: 60px;
    text-transform: uppercase;
    top: 420px;
    left: 15%;
    color: rgb(255, 68, 0);
}
.text-five{
    background-image: url('entry-5-title.png');
    background-size: cover;
    height: 80px;
    width: 300px;
    top: 540px;
    left: 19%;
    color: #ffb406;
}
.text-six{
    font-family: roc-grotesk, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    top: 640px;
    left: 45%;
    width: 240px;
    line-height: 80%;
    color: rgb(255, 0, 191);
    animation-name: font-change;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes font-change{
    0%{
        font-family: "roc-grotesk", sans-serif;
        
    }
    20%{
        font-family: "cofo-sans-pixel", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    40%{
        font-family: "scatterplot-vf", sans-serif;
        font-variation-settings: "RAND" 0, "wght" 600;
    }
    60%{
        font-family: "aquatronik-variable", sans-serif;
        font-variation-settings: "wdth" 100;
    }
    80%{
        font-family: "adhesive-nr-eight", sans-serif;
        font-weight: 400;
        font-style: normal;     
    }
    100%{
        font-family: "roc-grotesk", sans-serif;
    }
}

body:has(.one:hover) #index-items-1 a, body:has(.two:hover) #index-items-2 a, body:has(.three:hover) #index-items-3 a, body:has(.four:hover) #index-items-4 a, body:has(.five:hover) #index-items-5 a, body:has(.six:hover) #index-items-6 a, body:has(.six:hover) #index-items-6 a{
    color: white;
}

.one:hover{
    background-color: rgb(255, 255, 255);
    animation-name: none;
}
.two:hover{
    background-color: rgb(248, 41, 0);
    animation-name: none;
}
.three:hover{
    background-color: rgb(255, 238, 0);
    animation-name: none;
}
.four:hover{
    background-color: rgb(255, 68, 0);
    animation-name: none;
}
.five:hover{
    background-color: #ffb406;
    animation-name: none;
}
.six:hover{
    background-color: rgb(255, 0, 191);
    animation-name: none;
}

@keyframes colors{
    0%{
        background-color: white;
    }
    50%{
        background-color: rgb(218, 31, 171);
    }
    100%{
        background-color: white;
    }
}

.description{
    width: 40px;
    height: 40px;
    background-color: rgb(218, 31, 171);
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    position: fixed;
    top: 10px;
    left: 10px;
}
.description:active{
    width: 100%;
    height: 100vh;
    border-radius: 0;
    margin: 0;
}
.description:hover{
    transform: scale(120%);
    cursor: pointer;
}

.description:active ~ .title{
    display: none;
}

.title{
    position: fixed;
    bottom: 10px;
    left: 10px;
    color:rgb(218, 31, 171);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 120px;
    height: 140px;
    margin: auto;
    padding: 10px 10px 10px 10px;
    display: flex;
    letter-spacing: -9px;
}
.space{
    width: 15px;
}

@keyframes glow{
    0%{
        filter: blur(0);
    }
    50%{
        filter: blur(4px);
    }
    100%{
        filter: blur(0);
    }
}



.one:hover ~ .text-one,
.two:hover ~ .text-two,
.three:hover ~ .text-three,
.four:hover ~ .text-four,
.five:hover ~ .text-five,
.six:hover ~ .text-six{
    transition: all 0.5s ease-in-out;
    opacity: 1;
}

.info{
    width: 20%;
    height: calc(100vh - 20px);
    margin: 10px;
    border: solid 2px rgb(218, 31, 171); 
    border-radius: 20px;
    margin-left: auto;
    display: block;
    color: black;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    position: relative;
    background-color: rgb(218, 31, 171);
    position: sticky;
    top: 10px;
}
.index{
    height: 500px;
    overflow-y: scroll;
}
.index-title{
    font-size: 60px;
    text-align: right;
    font-style: italic;
    margin-top: -10px;
    padding-right: 10px;
    border-bottom: solid 1px black;
}
.index-item{
    font-size: 16px;
    border-bottom: solid 1px black; 
    padding: 5px 10px 5px 10px;
    transition: all 0.5s ease-in-out;
}
.index-item a{
    transition: all 0.5s ease-in-out;
}
.index-item a:hover{
    color: white;
    
}
.index-item:hover{
    padding: 20px 10px 20px 10px;
}


.about{
    background-color: black;
    width: 90%;
    margin: auto;
    border-radius: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 5%;
    color: rgb(218, 31, 171);
    font-style: italic;
    transition: all 0.5s ease-in-out;
}

.about:hover{
    background-color: white;
    color:rgb(218, 31, 171);
    scale: 90%;
}

/* Mobile */

@media screen and (max-width:500px){
    body{
        background-color: black;
        display: block;
        position: relative;
        height: 100vh;
    }
    .circles{
        width: fit-content;;
        height: fit-content;
        margin: 0;
        z-index: 5;
        display: flex;
        margin: 60px auto;
    }
    .reason-circle{
        margin-bottom: 10px;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;

    }
    .reason-circle:active{
        transform: scale(50%);
    }
    .one{
    }
    .two{
        animation-delay: 0s, 1s;
        margin-left: 0;
        width: 
    }
    .three{
        animation-delay: 0s, 2s;
        margin-left: 0%;
    }
    .four{
        animation-delay: 0s, 3s;
        margin-left: 0%;
    }
    .five{
        animation-delay: 0s, 4s;
        margin-left: 0%;
    }
    .six{
        animation-delay: 0s, 5s;
        margin-left: 0%;
    }


    .title{
        position: fixed;
        bottom: 20px;
        right: 10px;
        color: rgb(255, 255, 255);
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-size: 80px;
        height: fit-content;
        margin-left: 10px;
        padding: 0px;
        line-height: 90%;
        display: block;
        text-align: left;
        letter-spacing: -6px;
    }

    .info{
        width: calc(100% - 20px);
        height: fit-content;
        margin: 0;
        border: solid 2px rgb(218, 31, 171); 
        border-radius: 20px;
        display: block;
        color: black;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        position: relative;
        background-color: rgb(218, 31, 171);
        position: absolute;
        top: 60px;
        left: 10px;
        margin-right: 10px;
    }
    .index{
        height: 380px;
        overflow-y: scroll;
    }
    .index-title{
        font-size: 30px;
        text-align: right;
        font-style: italic;
        margin-top: -5px;
        padding-right: 10px;
        border-bottom: solid 1px black;
    }
    .index-item{
        font-size: 14px;
        border-bottom: solid 1px black; 
        padding: 5px 10px 5px 10px;
        transition: all 0.5s ease-in-out;
    }
    .index-item a{
        transition: all 0.5s ease-in-out;
    }
    .index-item a:active{
        color: white;
        
    }
    .index-item:active{
        padding: 20px 10px 20px 10px;
    }


    .about{
        background-color: black;
        width: 90%;
        margin: auto;
        border-radius: 25px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 10px;
        left: 5%;
        color: rgb(218, 31, 171);
        font-style: italic;
        transition: all 0.5s ease-in-out;
    }.about:active{
        background-color: white;
        color:rgb(218, 31, 171);
        scale: 90%;
    }

    
}