*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    font-size: 13px;
    margin: 4px;
    min-height: 100%;
    background-color: rgb(20, 20, 20);
}

.home-icon{
    width: 40px;
    height: 40px;
    background-color:rgb(240, 237, 225);
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    position: fixed;
    z-index: 2000;
    top: 10px;
    left: 10px;
}
.home-icon:hover{
    transform: scale(120%);
    background-color: rgb(8, 98, 189);
    transition: all 0.5s ease-in-out;
}

.home-text{
    color: rgb(240, 237, 225);
    position: fixed;
    top: 20px;
    left: 60px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal; 
    opacity: 0;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
}

.home-icon:hover ~ .home-text{
    opacity: 1;
}

@font-face{
    font-family: Rayando;
    src: url(/Users/madhu/Desktop/Second Year College/Interaction 1/Entry 2- Draft 1/Rayando-xj18.ttf);
}
@font-face{
    font-family: InkBlot;
    src: url(/Users/madhu/Desktop/Second Year College/Interaction 1/Entry 2- Draft 1/InkBlot Normal.ttf);
}
@font-face{
    font-family: Battle;
    src: url(/Users/madhu/Desktop/Second Year College/Interaction 1/Entry 2- Draft 1/TheBattleCont.ttf);
}
#title{
    position: fixed;
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 250px;
    letter-spacing: -15px;
    text-transform: uppercase;
    line-height: 70%;
    bottom: 0;
    display: flex;
    width: 70%;
    z-index: -1;
    color: rgb(248, 41, 0);
}


.type{    
    font-family: secret-service-typewriter, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(240, 237, 225);
}
.main-reason{
    position: fixed;
    width: 32%;
    height: 100%;
    padding: 10px;
    margin-top: 20vh;
}
.two{
    margin-left: 32%;
    width: 17%;
    height: 100%;
    padding: 10px;
}
.three{
    width: 17%;
    height: 100%;
    margin-top: 20vh;
    padding: 10px;
}
.four{
    width: 17%;
    height: 100%;
    margin-top: 40vh;
    padding: 10px;
}
.five{
    width: 17%;
    height: 100%;
    margin-top: 60vh;
    padding: 10px;
}

#who{
    margin-top: 10px;
}
#expanded{
    font-size: 17px;
}

.image{
    background-image: url('Ellis Image.png');
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 472.4px;
    min-height: 555.1px;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: -2;
    transform: rotate(-2deg);
}

.main-reason:hover ~ .image{
    background-image: url('Ellis Image.png');
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(-2deg);
}
.two:hover ~ .image{
    background-image: url('Ada Image.png');
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(1deg);
}
.three:hover ~ .image{
    background-image: url('Eva Image.png');
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(-1deg);
}
.four:hover ~ .image{
    background-image: url('Jamie Image.png');
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(-3deg);
}
.five:hover ~ .image{
    background-image: url('Me Image.png');
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(-1deg);
}
.main-reason:hover, .two:hover, .three:hover, .four:hover, .five:hover{
    color: rgb(8, 98, 189);
}

/* Mobile */

@media screen and (max-width:500px){
    body{
        display: block;
        font-size: 13px;
        margin: 0px;
        min-height: 100%;
        background-color: rgb(20, 20, 20);
        width: 100vw;
    }

    #title{
        position: fixed;
        bottom: 10px;
        left: 10px;
        font-family: "futura-pt-condensed", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 27vw;
        letter-spacing: -5px;
        width: 100%;
        z-index: -1;
        color: rgb(248, 41, 0);
        margin-right: 20px;
    }


    .type{    
        font-family: secret-service-typewriter, sans-serif;
        font-style: normal;
        font-weight: 400;
        color: rgb(240, 237, 225);
    }
    .main-reason{
        position: static;
        width: 100vw;
        height: fit-content;
        padding: 0;
        margin-top: 45vh;
        margin-left: 10px;
        z-index: -3;
    }
    .two{
        margin-left: 20px;
        width: calc(100% - 20px);
        height: fit-content;
        padding: 0px;
        margin-top: 420px;
    }
    .three{
        width: calc(100% - 30px);
        margin-left: 30px;
        height: fit-content;
        margin-top: 50px;
        padding: 0px;
    }
    .four{
        margin-left: 40px;
        width: calc(100% - 40px);
        height: fit-content;
        margin-top: 50px;
        padding: 0px;
    }
    .five{
        margin-left: 50px;
        width: calc(100% - 50px);
        height: fit-content;
        margin-top: 50px;
        padding: 0px;
        margin-bottom: 280px;
    }

    #who{
        margin-top: 9px;
    }
    #expanded{
        font-size: 15px;
    }

    .image{
        background-image: url('Ellis Image.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 200px;
        aspect-ratio: 472.4 / 555.1;
        min-height: 100px;
        min-width: 100px;
        position: fixed;
        right: 5px;
        top: 10px;
        z-index: 1;
        transform: rotate(-2deg);
    }


    .main-reason:active ~ .image{
        background-image: url('Ellis Image.png');
        background-size: 100%;
        background-repeat: no-repeat;
        transform: rotate(-2deg);
    }
    .two:active ~ .image{
        background-image: url('Ada Image.png');
        background-size: 100%;
        background-repeat: no-repeat;
        transform: rotate(1deg);
    }
    .three:active ~ .image{
        background-image: url('Eva Image.png');
        background-size: 100%;
        background-repeat: no-repeat;
        transform: rotate(-1deg);
    }
    .four:active ~ .image{
        background-image: url('Jamie Image.png');
        background-size: 100%;
        background-repeat: no-repeat;
        transform: rotate(-3deg);
    }
    .five:active ~ .image{
        background-image: url('Me Image.png');
        background-size: 100%;
        background-repeat: no-repeat;
        transform: rotate(-1deg);
    }
    .main-reason:active, .two:active, .three:active, .four:active, .five:active{
        color: rgb(8, 98, 189);
    }
}